<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.DepartmentMapper">
	<cache flushInterval="10000" />

	<select id="findAll" resultType="Department">
		SELECT *, NOW() time FROM Department
	</select>


	<select id="findAllWithEmployees" resultMap="resultMap1">
		Select d.*, e.id employeeId, e.name, NOW() time from Department d LEFT JOIN
		Employee e On d.id= e.departmentId
	</select>

	<resultMap id="resultMap1" type="Department">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<collection property="employees" ofType="Employee">
			<id property="id" column="employeeId" />
			<result property="name"  column="name" />
			<result property="time" column="time" />
		</collection>
	</resultMap>



	<update id="update">
		UPDATE Department
		SET name=#{name}
		WHERE id =#{id}
	</update>
</mapper>